@charset "utf-8";
/* CSS Document */
#day{
    padding-bottom:2px;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
#day .daytour{
	background:url(../images/p8.jpg) center bottom no-repeat;
    max-width:100%;
    max-heightt:100%;
	    padding: 70px 0 90px;
		background-size: 1280px auto;

}

#day .daytour .title{
	max-width: 800px;
    margin: 0 auto 15px;
    font-size: 1.875em;
    line-height: 1.2em;
    color: #212121;
}