*{
    padding: 0;
    margin: 0;
}
body{
    background: #f7f7f7;
}
#main{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-bottom: 24px;
    margin-top:24px;
    display: block;
    height: 1000px;
}
form{
    background: #71aab3;
    padding: 8px 4.34783%;
    position: relative;
    float: left;
    width: 370px;
    margin-bottom: 13px;
    margin-left: 12px;
    margin-top: 10px;
}
#keyword{
    float: left;
    width: 200px;
}
#submit{
    background: #D23C0F;
    color: #fff;
    border: none;
    width: 100px;
    float: right;

}
#slide{
    max-width: 490px;
    margin-left: auto;
    margin-right: auto;
    float: left;
    border: 1px #ccc solid;
    height: 350px;
    background-color: #fff;

}
#content{
    float: right;
    border: 1px #ccc solid;
    width: 840px;
    background: #fff;
    height: auto;
    background-color: #fff;
}
.copyright-info-blk{
    clear: both;
}
#sidebar-menu{
    clear: both;
}
#sidebar-search{
    width: 390px;
}
#sidebar-menu ul {

    list-style: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
    position: relative;

}
#sidebar-menu ul li{
    border-bottom: 1px #eee solid;
    max-width: 370px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
#content #essay{
    padding:25px 40px 0px 40px;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    position: relative;

}
#content-essay{
    border-bottom: 1px #e6e6e6 solid;

}
#headline{
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    position: relative;
    margin-top: 10px;
    border-bottom: 1px #e6e6e6 solid;
    margin-bottom: 15px;
    padding-bottom: 12px;
}
#headline span{
    color: #747373;
}
#headline #content-head{
    float: left;
}
#headline #content-date{
    float: right;
}
#relate-photo .relate>img{
    height: 139px;
    width:186px;

}
.relate:first-child {
    float: left;
    margin-right: 12px;
    border: 1px solid;
    margin-bottom: 12px;

}
.relate:nth-child(2) {
    float: left;
    margin-right: 12px;
    border: 1px solid;
    margin-bottom: 12px;

}
.relate:nth-child(3) {
    float: left;
    margin-right: 12px;
    border: 1px solid;
    margin-bottom: 12px;

}
.relate:nth-child(4) {
    float: left;
    margin-right: 12px;
    border: 1px solid;
    margin-bottom: 12px;

}
.relate:nth-child(5) {
    float: left;
    margin-right: 12px;
    border: 1px solid;
    margin-bottom: 12px;

}

